{% extends 'base.html' %}

{% block title %}

{{user.first_name}} {{user.last_name}}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-2 col-6">
        <img src="{{user.image_url}}" alt="{{user.first_name}} {{user.last_name}}" class="w-100 p-3">
    </div>

    <div class="col-sm-10 col-12">
        <h1>{{user.first_name}} {{user.last_name}}</h1>

        <div class="row">
            <form action="/users/{{user.id}}/delete" method="POST">
                <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="row">
            <h2>Posts</h2>
            <ul>
                {% for post in posts %}
                <li><a href=""></a></li>
                {% endfor %}
            </ul>

            <p><a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a></p>
        </div>
    </div>
</div>

{% endblock %}