{% extends 'base.html' %}

{% block title %}Edit User Details{% endblock %}
{% block content %}

<h1>Edit a user</h1>

<form action="" method="POST">
    <label for="first_name">First Name: </label>
    <input id="first_name" name="first_name" type="text" value={{user.first_name}}>

    <label for="last_name">Last Name: </label>
    <input id="last_name" name="last_name" type="text" value={{user.last_name}}>

    <label for="image_url">Profile Picture URL: </label>
    <input id="image_url" name="image_url" type="text" value={{user.image_url}}>

    <a href="/users/{{user.id}}">Cancel</a>
    <button>Save</button>
</form>

{% endblock %}