{% extends 'base.html' %}

{% block title %}Edit User Details{% endblock %}
{% block content %}

<h1>Edit a user</h1>

<form method="POST">
    <div class="mb-3>
        <label for="first_name" class="form-label">First Name: </label>
        <input id="first_name" name="first_name" class="form-control" type="text" value={{user.first_name}}>
    </div>

    <div class="mb-3>
        <label for="last_name" class="form-label">Last Name: </label>
        <input id="last_name" name="last_name" class="form-control" type="text" value={{user.last_name}}>
    </div>

    <div class="mb-3>
        <label for="image_url" class="form-label">Profile Picture URL: </label>
        <input id="image_url" name="image_url" class="form-control" type="text" value={{user.image_url}}>
    </div>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-primary" role="button" href="/users/{{user.id}}">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    
</form>

{% endblock %}