{% extends 'base.html' %}
{% block title %} New Post {% endblock %}
{% block content %}

<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<form action="" method="POST">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" name= "title" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label for="Content" class="form-label">Content</label>
        <input id="content" name= "content" class="form-control" type="text">
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/users/{{user.id}}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div>

</form>


{% endblock %}